<?xml version="1.0" encoding="UTF-8" ?>


<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
    <!--&lt;!&ndash; 打印查询语句 &ndash;&gt;-->
    <!--<setting name="logImpl" value="STDOUT_LOGGING" />-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="cn.zhonggu.barsf.iota.explorer.dao.HikariDBSourceFactory">
                <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
                <property name="jdbcUrl" value="jdbc:mysql://xxxxxxx/iota"/>
                <property name="username" value="xxx"/>
                <property name="password" value="xxx"/>
                <property name="maximumPoolSize" value="40"/>
                <property name="minimumIdle" value="5"/>
                <property name="connectionTestQuery" value="select 1"/>
                <property name="autoCommit" value="true"/>
                <property name="dataSource.cachePrepStmts" value="true"/>
                <property name="dataSource.prepStmtCacheSize" value="250"/>
                <property name="dataSource.prepStmtCacheSqlLimit" value="2048"/>
                <property name="dataSource.useServerPrepStmts" value="true"/>
                <property name="dataSource.useLocalSessionState" value="true"/>
                <property name="dataSource.useLocalTransactionState" value="true"/>
                <property name="dataSource.rewriteBatchedStatements" value="true"/>
                <property name="dataSource.cacheResultSetMetadata" value="true"/>
                <property name="dataSource.cacheServerConfiguration" value="true"/>
                <property name="dataSource.elideSetAutoCommits" value="true"/>
                <property name="dataSource.maintainTimeStats" value="false"/>
            </dataSource>
        </environment>
    </environments>


</configuration>